@page "/cards"

<div class="column-layout cards-container">
    <div class="column-layout group">
        <IgbCard class="card" cards-scope>
            <IgbCardMedia class="media-content" cards-scope>
                <img src="assets/SketchParser.png" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" cards-scope>
                <p class="typography__body-2 text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
                </p>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-scope>
                <IgbButton Variant="ButtonVariant.Flat" slot="start" Size="SizableComponentSize.Large" class="button" cards-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card" cards-scope>
            <IgbCardHeader>
                <div slot="thumbnail">
                    <IgbAvatar Shape="AvatarShape.Circle">
                        <span class="material-icons">
                            person
                        </span>
                    </IgbAvatar>
                </div>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardMedia class="media-content" cards-scope>
                <img src="assets/SketchParser.png" class="image" />
            </IgbCardMedia>
            <IgbCardContent class="body-content" cards-scope>
                <p class="typography__body-2 text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
                </p>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-scope>
                <IgbButton Variant="ButtonVariant.Flat" slot="start" Size="SizableComponentSize.Large" class="button" cards-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card_1" cards-scope>
            <div class="group_1">
                <IgbCardHeader>
                    <div slot="thumbnail">
                        <IgbAvatar Shape="AvatarShape.Circle">
                            <span class="material-icons">
                                person
                            </span>
                        </IgbAvatar>
                    </div>
                    <h3 slot="title">
                        Title goes here...
                    </h3>
                    <h5 slot="subtitle">
                        Subtitle goes here...
                    </h5>
                </IgbCardHeader>
                <IgbCardContent class="body-content" cards-scope>
                    <p class="typography__body-2 text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
                    </p>
                </IgbCardContent>
            </div>
            <IgbCardMedia class="media-content_1" cards-scope>
                <img src="assets/SketchParser.png" class="image" />
            </IgbCardMedia>
        </IgbCard>
        <IgbCard class="card_1" cards-scope>
            <div class="group_2">
                <div class="row-layout">
                    <IgbCardHeader>
                        <div slot="thumbnail">
                            <IgbCardMedia class="media-content_2" cards-scope>
                                <img src="assets/SketchParser.png" />
                            </IgbCardMedia>
                        </div>
                        <h3 slot="title">
                            Title goes here...
                        </h3>
                        <h5 slot="subtitle">
                            Subtitle goes here...
                        </h5>
                    </IgbCardHeader>
                </div>
                <IgbCardContent class="body-content" cards-scope>
                    <p class="typography__body-2 text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua. 
                    </p>
                </IgbCardContent>
            </div>
            <span class="divider">Divider not yet available in Blazor</span>
            <IgbCardActions class="igx-card-actions--justify actions-content_1" cards-scope>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
    </div>
</div>

@code {
}
