@page "/lists"

<div class="row-layout lists-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <div slot="title">Single Line Item Default</div>
                </IgbListItem>
                <IgbListItem>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <IgbAvatar slot="start">
                        <span class="material-icons">
                            person
                        </span>
                    </IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start">
                        <span class="material-icons">
                            person
                        </span>
                    </IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start">
                        <span class="material-icons">
                            person
                        </span>
                    </IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <IgbAvatar Initials="AB" Shape="AvatarShape.Rounded" slot="start"></IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Initials="AB" Shape="AvatarShape.Rounded" slot="start"></IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Initials="AB" Shape="AvatarShape.Rounded" slot="start"></IgbAvatar>
                    <div slot="title">Single Line Item Default</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
        </div>
        <div class="column-layout group_1">
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                </IgbListItem>
                <IgbListItem>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                </IgbListItem>
                <IgbListItem>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                </IgbListItem>
            </IgbList>
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <IgbAvatar Src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" slot="start" Shape="AvatarShape.Circle" class="avatar" lists-scope></IgbAvatar>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" slot="start" Shape="AvatarShape.Circle" class="avatar_1" lists-scope></IgbAvatar>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" slot="start" Shape="AvatarShape.Circle" class="avatar_2" lists-scope></IgbAvatar>
                    <div slot="title">Image URL</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
            <IgbList class="list" lists-scope>
                <IgbListHeader>Header</IgbListHeader>
                <IgbListItem>
                    <IgbAvatar Src="assets/7e86e8b8b495deb8eefcdd3556151a40532211e1.png" slot="start" Shape="AvatarShape.Circle" class="avatar_3" lists-scope></IgbAvatar>
                    <div slot="title">Default with Subtitle and Avatar</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Src="assets/d4c387693b4db8c8354a14897762a46dcf820844.png" slot="start" Shape="AvatarShape.Circle" class="avatar_4" lists-scope></IgbAvatar>
                    <div slot="title">Default with Subtitle and Avatar</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar Src="assets/a7f211be67afc061d9571f5b5b5236cd92420e0c.png" slot="start" Shape="AvatarShape.Circle" class="avatar_5" lists-scope></IgbAvatar>
                    <div slot="title">Default with Subtitle and Avatar</div>
                    <div slot="subtitle">Subtitle...</div>
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_right
                    </span>
                </IgbListItem>
            </IgbList>
        </div>
    </div>
</div>

@code {
}
